
.messages{
    width: 80%;
}

.message-list h3{
    text-align: left;
}

.conversation-list{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:0.5rem;
}

.conversation {
    list-style: none;
    padding: 0.1rem;
    margin: 0;
    height: 3rem;
}

.conversation:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.conversation img {
    vertical-align: middle;
    width: 1.5rem;
}

.conversation p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

.message{
    list-style: none;
    max-width: 10rem;
    display: list-item;
    clear:both;
    border-radius: 20px;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0.5rem;  
}

.message__user{
    float: right;
    clear:both;
    border: 2px solid rgb(117, 175, 227);
    background-color:  rgb(117, 175, 227);
}

.message__recipient{
    float: left;
    clear:both;
     border: 2px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233)
}

.message-time{
    font-size: xx-small;
    position: relative;
    top:10px;
}

 .message__recipient-time{
    color:rgb(172, 166, 166);
}

 .message__user-time{
    color:rgb(255, 255, 255);
}

.message-form{
    position:fixed;
    bottom: 1rem;
    left:50%;
}