
.messages{
    width: 80%;
}

.message-list h3{
    text-align: left;
}

.conversation-list{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:0.5rem;
}

.conversation {
    list-style: none;
    padding: 0.1rem;
    margin: 0;
    height: 3rem;
}

.conversation:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.conversation img {
    vertical-align: middle;
    width: 1.5rem;
}

.conversation p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

.message-form{
    position:fixed;
    bottom: 1rem;
    left:50%;
}