.login-form {
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-element label, 
.form-element input {
    width: 100%;
    display: block;
}

.form-element label {
    margin-bottom: 0.5rem;
}

.form-element {
    margin-bottom: 1rem;
}

.form-action button {
    background-color: rgb(93, 202, 230);
    font: inherit;
    border: 1px solid rgb(93, 202, 230);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: #fff;
    cursor: pointer;
}

.form-action button:hover,
.form-action button:active{
    background-color: rgb(86, 167, 187);
    border-color: rgb(86, 167, 187);
}